/* .parent{
    width: 1000px;
    background-color: antiquewhite;
}
.parent div{
    background-color: gainsboro;
    margin-left: 15px;
    margin-top: 15px;
    padding: 15px 0px;
    text-align: center;
   
}
.full{
    float: left;
    width: calc(100% - 30px);
    
    
}
.row1{
    float: left;
     width: calc((100% - 60px) /3); 
  
}

.row2{
    float: left;
    width: calc(((100% - 45px) /2));
}
.row3{
    float: left;
    width: calc(((100% - 75px) /4));
    margin-bottom: 15px;
}
.clear{
    clear: both;
} */


/*  div {
  margin: 20px auto;
  width: 300px;
  font-weight: bold;
  font-size: 1rem;
  padding: 20px;
  background-color: rgb(128, 128, 128); 
  color: black;
}
.one{
    background-color: rgba(128, 128, 128, .1);
}
.two{
    opacity: .1;
} */

/* div{
    width: 100px;
    height: 100px;
}
.black{
    z-index: -1;
    position: absolute;
     top: 40px;
    left: 20px;
background-color: rgba(0, 0, 0, 1);
}
.green{
     position: absolute;
    top: 40px;
    left: 40px;
    z-index: 2;
    background-color: rgba(0, 128, 0, 1);

}
.red{
    position:absolute;
     top: 60px;
    left: 60px;
    z-index: 3;
background-color: rgba(255, 30, 0, 1)
}
.blue{
    z-index: 1;
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgb(0, 174, 255);
} */

/* div{
    width: 400px;
    text-align: center;
    background-color:#EEE;
    border-width: 3px;
    border-color: rgb(255, 38, 0) rgb(0, 110, 255);;
    border-style: solid;
   
margin-left: auto;
line-height: 30px;
padding: 20px;
}
.top-left{
    position: absolute;
    
top: 0;
left:469px;   

border-width: 0 3px 0 0;


    
}
.bottom-left{
     position: absolute;
    
top: 152px;
left:469px;   
border-width: 0 3px 0 0;
}
.top-right{
     position: absolute;
    
top: 0;
left:907px;   
border-width: 0 0 0 3px;
}
.bottom-right{
     position: absolute;
    
top: 152px;
left:907px;   
border-width: 0 0 0 3px;
}
.top-left ,.bottom-left ,.top-right, .bottom-right{
  border-color:rgb(255, 38, 0);
  border-style: solid; 
    color: white;
background-color: rgb(0, 110, 255);
padding: 1px 10px; 
} */


.main{
    list-style: none;
   
    
}
.main-li{
 background-color: gainsboro;
 padding: 10px;
 margin: 20px;
}
.second{
    list-style-type: upper-roman;
}
ol{

    margin-left: 0;
    padding: 0;
}
ol li{
    background-color: white;
    list-style-position: outside;
    margin: 5px;
    
    padding: 5px;
}
ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style-position: inside;
    background-color: white;
    padding: 5px;
    margin: 5px;
}