/* div{
    width: 300px;
    height: 200px;
    text-align: center;
    background-color: #EEE;
    position: relative;
    margin: auto;
    margin-top: 100px;
    line-height: 200px;
    font-weight: bold;
    color:rgb(0, 140, 255);
    
}
div::before{
    content: "";
     width: 300px;
    height: 200px;
   display: block;
    background-color: darkmagenta;
   z-index: -2;
   top: 0;
   position: absolute;
   transform: rotate(10deg);
}
div::after{
    content: "";
     width: 300px;
    height: 200px;
   display: block;
    background-color: rgb(0, 140, 255);
   z-index: -1;
   top: 0;
   position: absolute;
   transform: rotate(-10deg);
   
} */

div{
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: #EEE;
    position: relative;
    margin: auto;
    margin-top: 100px;
    line-height: 200px;
    font-weight: bold;
    border-radius: 50%;
    
}
div::before{
    content: "";
  width: 200px;
    height: 200px;
    border-radius: 50%;
  display: block;
  position: absolute;
 top: -10px;
left: -9px;
  border:10px rgb(216, 29, 92) solid;
  border-left:10px white solid;
  transition: .5s;

}
div::after{
    content: "";
   width: 219px;
    height: 219px;
    border-radius: 50%;
  display: block;
  position: absolute;
  top:-19px;
  left:-19px;
 
  border:10px rgb(0, 162, 255) solid;
  border-right:10px white solid;
  transition-delay: .5s;
  transition-duration: .5s;
  
} 
div:hover::after{
   transform: rotate(360deg);
}
div:hover::before{
  transform: rotate(360deg);
}

